{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<article>
    <header>
        {% include "article_header.html" %}
    </header>

    <div class="body">
        {{ article.content }}
    </div>

    {% if article.tags %}
    <footer>
        <ul class="tags">{% for tag in article.tags %}
            <li>
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            </li>{% endfor %}
        </ul>
    </footer>
    {% endif %}

    {% if DISQUS_SITENAME %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_identifier = "{{ article.url }}";
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.head || document.body).appendChild(dsq);
        })();
    </script>
    {% elif TWITTER_USERNAME %}
    <div class="share">
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-count="horizontal" data-text="{{ article.title|striptags|escape }}"
           data-via="{{ TWITTER_USERNAME }}">Tweet</a>
    </div>
    <script src="//platform.twitter.com/widgets.js"></script>
    {% endif %}
</article>
{% endblock %}
