<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:700|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/style/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/style/screen.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/style/print.css" type="text/css" media="print" />
        {% if SITE_ICON %}
        <link rel="shortcut icon" href="{{ SITE_ICON }}">
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <header class="main">
        <a class="logo" href="{{ SITEURL }}/index.html" title="Home">{{ SITENAME }}</a>
        <span class="tagline">{{ SITE_TAGLINE }}</span>
    </header>

    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    <div class="bottom">
        <div class="container">
            <div class="about">
                <h3>About me</h3>
                <img alt="Me!" class="avatar"
                     src="http://www.gravatar.com/avatar/{{ AUTHOR_EMAIL_HASH }}?size=64">
                <p>{{ AUTHOR_SHORTBIO }}</p>
                {% if GITHUB_USERNAME and GITHUB_BADGE %}
                <div class="github-badge">
                    <iframe src="http://githubbadge.appspot.com/{{ GITHUB_USERNAME }}?s=1"
                            style="border: 0; height: 150px; width: 200px; overflow: hidden;"></iframe>
                </div>
                {% endif %}
                {% if AUTHOR_EMAIL %}
                <p>
                   You can contact me by emailing
                   <a href="mailto:{{ AUTHOR_EMAIL }}" rel="me">{{ AUTHOR_EMAIL }}</a>.
                </p>
                {% endif %}
                <p>
                    {% if TWITTER_USERNAME %}
                    <a href="https://twitter.com/{{ TWITTER_USERNAME }}"
                       title="@{{ TWITTER_USERNAME }} on Twitter" rel="me">Follow me on Twitter</a> and
                    {% endif %}
                    {% if GITHUB_USERNAME %}
                    <a href="https://github.com/{{ GITHUB_USERNAME }}"
                       title="{{ GITHUB_USERNAME }}'s Profile" rel="me">fork me on GitHub</a>!
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container footer">
            <span>Powered by <a href="http://docs.getpelican.com">
                Pelican</a> using <a href="https://github.com/BYK/pelican-neat">
                neat theme</a>.
            </span>
            <nav>
                <ul>
                    <li><a href="{{ SITEURL }}/archives.html" title="Archive"><strong>Archive</strong></a></li>
                    {% if SITE_SOURCE %}
                    <li><a href="{{ SITE_SOURCE }}" title="Source code">Source code</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% if CREATIVE_COMMONS %}
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img
                    alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png"></a></p>
            {% endif %}
        </div>
    </footer>

    {% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
