{% extends "base.html" %}

{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}        
    <article>
        <header>
            {% include "article_header.html" %}
        </header>

        <div class="body">
            {{ article.summary }}
        </div>

        {% if DISQUS_SITENAME %}<p>
            <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">comments</a>
        </p>{% endif %}

    </article>
{% endfor %}
    {% if DISQUS_SITENAME %}
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.head || document.body).appendChild(s);
        }());
    </script>
    {% endif %}
{% endif %}
{% endblock content %}

{% if articles_page.has_next() or articles_page.has_previous() %}
{% block footnote %}
    {% include 'pagination.html' %}
{% endblock %}
{% endif %}
